<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公共模块</title>
</head>
<body>
<!--头部菜单栏公共模块 begin-->
<header id="header" th:fragment="head">
    <div class="navbox">
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <div class="logo"><a href="http://dragonwen.wicp.vip/" target="_blank">DragonWen个人博客</a></div>
        <nav>
            <ul id="starlist">
                <li><a href="/my_blog">首页</a></li>
                <li><a href="/my_blog/blog">个人博客日记</a></li>
                <li class="menu"><a href="/my_blog/classify">随笔分类</a>
                    <ul class="sub">
                        <li><a href="/">编程语言</a></li>
                        <li><a href="/">软件设计</a></li>
                        <li><a href="/">Web前端</a></li>
                        <li><a href="/">数据库技术</a></li>
                        <li><a href="/">其他分类</a></li>
                    </ul>
                    <span></span></li>
                <li><a href="/my_blog/sourcecode">源码库</a></li>
                <li><a href="/my_blog/repository">知识库</a></li>
                <li><a href="/my_blog/about">关于我</a></li>
            </ul>
        </nav>
        <div class="searchico"></div>
    </div>
</header>
<!--头部菜单栏公共模块 end-->

<!--头部搜索框公共模块 begin-->
<div class="searchbox" th:fragment="search">
    <div class="search">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
            <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);"
                   onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
                   onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
            <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden">
            <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
    </div>
    <div class="searchclose"></div>
</div>
<!--头部搜索框公共模块 end-->

<!--网站公告 start-->
<div class="whitebg notice" th:fragment="website_notice">
    <h2 class="htitle">
        <i class="el-bullhorn"></i>
        网站公告
        <small> Website Notice</small>
    </h2>
    <ul>
        <li><a href="/">十条设计原则教你学会如何设计网页布局!</a></li>
        <li><a href="/">用js+css3来写一个手机栏目导航</a></li>
        <li><a href="/">6条网页设计配色原则,让你秒变配色高手</a></li>
        <li><a href="/">三步实现滚动条触动css动画效果</a></li>
    </ul>
</div>
<!--网站公告 end-->

<!--点击排行 begin-->
<div class="whitebg paihang" th:fragment="paihang">
    <h2 class="htitle">
        <i class="el-signal"></i>
        点击排行
        <small> Click Leaderboard</small>
    </h2>
    <section class="topnews imgscale"><a href="/"><img
            src="Front-End/images/h1.jpg"><span>6条网页设计配色原则,让你秒变配色高手</span></a></section>
    <ul>
        <li><i></i><a href="/">十条设计原则教你学会如何设计网页布局!</a></li>
        <li><i></i><a href="/">用js+css3来写一个手机栏目导航</a></li>
        <li><i></i><a href="/">6条网页设计配色原则,让你秒变配色高手</a></li>
        <li><i></i><a href="/">三步实现滚动条触动css动画效果</a></li>
        <li><i></i><a href="/">个人博客，属于我的小世界！</a></li>
        <li><i></i><a href="/">安静地做一个爱设计的女子</a></li>
        <li><i></i><a href="/">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
        <li><i></i><a href="/">做个人博客如何用帝国cms美化留言增加头像选择</a></li>
    </ul>
</div>
<!--点击排行 end-->

<!--站长推荐 begin-->
<div class="whitebg tuijian" th:fragment="tuijian">
    <h2 class="htitle">
        <i class="el-thumbs-up"></i>
        站长推荐
        <small> Recommended Station</small>
    </h2>
    <section class="topnews imgscale"><a href="/"><img
            src="Front-End/images/h2.jpg"><span>6条网页设计配色原则,让你秒变配色高手</span></a></section>
    <ul>
        <li><a href="/"><i><img src="Front-End/images/text01.jpg"></i>
            <p>十条设计原则教你学会如何设计网页布局!</p>
        </a></li>
        <li><a href="/"><i><img src="Front-End/images/text02.jpg"></i>
            <p>用js+css3来写一个手机栏目导航</p>
        </a></li>
        <li><a href="/"><i><img src="Front-End/images/text03.jpg"></i>
            <p>6条网页设计配色原则,让你秒变配色高手</p>
        </a></li>
        <li><a href="/"><i><img src="Front-End/images/text04.jpg"></i>
            <p>三步实现滚动条触动css动画效果</p>
        </a></li>
        <li><a href="/"><i><img src="Front-End/images/text05.jpg"></i>
            <p>个人博客，属于我的小世界！</p>
        </a></li>
        <li><a href="/"><i><img src="Front-End/images/text06.jpg"></i>
            <p>安静地做一个爱设计的女子</p>
        </a></li>
        <li><a href="/"><i><img src="Front-End/images/text07.jpg"></i>
            <p>个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</p>
        </a></li>
    </ul>
</div>
<!--站长推荐 end-->

<!--广告节点3 begin-->
<div class="ad whitebg imgscale" th:fragment="ad3">
    <ul>
        <a href="/"><img src="Front-End/images/ad.jpg"></a>
    </ul>
</div>
<!--广告节点3 end-->

<!--标签云 begin-->
<div class="whitebg cloud" th:fragment="label">
    <h2 class="htitle">
        <i class="el-tags"></i>
        标签云
        <small> Tags Clouds</small>
    </h2>
    <ul>
        <a href="" target="_blank">个人博客模板</a> <a href="" target="_blank">css动画</a> <a href="" target="_blank">布局</a> <a href="" target="_blank">今夕何夕</a> <a href="" target="_blank">SEO</a> <a href="" target="_blank">女程序员</a> <a href="" target="_blank">小世界</a> <a href="" target="_blank">个人博客</a> <a href="" target="_blank">网页设计</a>
    </ul>
</div>
<!--标签云 end-->

<!--猜你喜欢 begin-->
<div class="whitebg wenzi" th:fragment="love">
    <h2 class="htitle">
        <i class="el-asl"></i>
        猜你喜欢
        <small> Guess You Like</small>
    </h2>
    <ul>
        <li><a href="/">十条设计原则教你学会如何设计网页布局!</a></li>
        <li><a href="/">用js+css3来写一个手机栏目导航</a></li>
        <li><a href="/">6条网页设计配色原则,让你秒变配色高手</a></li>
        <li><a href="/">三步实现滚动条触动css动画效果</a></li>
        <li><a href="/">个人博客，属于我的小世界！</a></li>
        <li><a href="/">安静地做一个爱设计的女子</a></li>
        <li><a href="/">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
        <li><a href="/">做个人博客如何用帝国cms美化留言增加头像选择</a></li>
    </ul>
</div>
<!--猜你喜欢 end-->

<!--广告节点4 begin-->
<div class="ad whitebg imgscale" th:fragment="ad4">
    <ul>
        <a href="/"><img src="Front-End/images/ad02.jpg"></a>
    </ul>
</div>
<!--广告节点4 end-->

<!--站点统计 begin-->
<div class="whitebg tongji" th:fragment="tongji">
    <h2 class="htitle">
        <i class="el-info-circle"></i>
        站点信息
        <small> Site Information</small>
    </h2>
    <ul>
        <li><b>建站时间</b>：2018-10-24</li>
        <li><b>网站程序</b>：博客管理系统</li>
        <li><b>主题模板</b>：<a href="http://www.yangqq.com" target="_blank">《今夕何夕》</a></li>
        <li><b>文章统计</b>：<a href="/my_blog/time" target="_blank">395</a>篇文章</li>
        <li><b>文章评论</b>：490条</li>
        <li><b>统计数据</b>：<a href="/">百度统计</a></li>
        <li><b>微信公众号</b>：扫描二维码，关注我们</li>
        <img src="Front-End/images/wxgzh.jpg" class="tongji_gzh">
    </ul>
</div>
<!--站点统计 end-->

<!--友情链接 start-->
<div class="links whitebg" th:fragment="friendly_link">
    <h2 class="htitle"><span class="sqlink"><a href="/"><i class="el-plus"></i> 申请</a></span>
        <i class="el-paper-clip"></i>
        友情链接
        <small> Friendly Link</small>
    </h2>
    <ul>
        <li><a href="http://www.yangqq.com" target="_blank">杨青青个人博客</a></li>
    </ul>
</div>
<!--友情链接 end-->

<!--底部公共模块 begin-->
<footer th:fragment="footer">
    <div class="box">
        <div class="wxbox">
            <ul>
                <li><img src="Front-End/images/wxgzh.jpg"><span>微信公众号</span></li>
                <li><img src="Front-End/images/wx.png"><span>我的微信</span></li>
            </ul>
        </div>
        <div class="endnav">
            <p><b>站点声明：</b></p>
            <p>1、本站个人博客模板，参考杨青青个人博客改编，个人可以使用，但是未经许可不得用于任何商业目的。</p>
            <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：<a
                    target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=0uvg4uHj4ubh5JKjo-yxvb8"
                    style="text-decoration:none;">920310436@qq.com</a>
            <p>Copyright © <a href="http://dragonwen.wicp.vip/" target="_blank">www.dragonwen.wicp.vip</a> All Rights Reserved.
                备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备11002373号-1</a></p>
        </div>
    </div>
    <a href="#">
        <div class="top"></div>
    </a>
</footer>
<!--底部公共模块 end-->

<!--最新博文 start-->
<div class="whitebg bloglist" th:fragment="bloglist">
    <h2 class="htitle">
        <i class="el-picasa"></i>
        最新博文
        <small>New Posts</small>
    </h2>
    <ul>
        <!--多图模式 置顶设计-->
        <li>
            <h3 class="blogtitle"><a href="/" target="_blank"><b>【顶】</b>别让这些闹心的套路，毁了你的网页设计!</a></h3>
            <span class="bplist"><a href="/"> <img src="Front-End/images/b02.jpg" alt=""></a> <a href="/"><img
                    src="Front-End/images/b03.jpg" alt=""></a> <a href="/"><img src="Front-End/images/b04.jpg"
                                                                                alt=""> </a><a href="/"><img
                    src="Front-End/images/b05.jpg" alt=""> </a></span>
            <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if
                来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>
            <p class="bloginfo">
                <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                <span>DragonWen</span>
                <span><i class="el-time"></i> 2018-10-28</span>
                <span><i class="el-comment"></i> 0</span>
                <span><i class="el-eye-open"></i> 192</span>
            </p>
            <a href="/my_blog/article" class="viewmore">阅读更多</a></li>
        </li>
        <!--单图-->
        <li>
            <h3 class="blogtitle"><a href="/my_blog/article" target="_blank">【个人博客网站制作】自己不会个人博客网站制作，你会选择用什么博客程序源码？</a></h3>
            <span class="blogpic imgscale"><i><a href="/my_blog/article">原创模板</a></i><a href="/my_blog/article" title=""><img
                    src="Front-End/images/b01.jpg" alt=""></a></span>
            <p class="blogtext">
                这些开源的博客程序源码，都是经过很多次版本测试的，都有固定的使用人群。我所知道的主流的博客程序有，Z-blog，Emlog，WordPress，Typecho等，免费的cms系统有，织梦cms（dedecms），phpcms，帝国cms（EmpireCMS）！... </p>
            <p class="bloginfo">
                <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                <span>DragonWen</span>
                <span><i class="el-time"></i> 2018-10-28</span>
                <span><i class="el-comment"></i> 0</span>
                <span><i class="el-eye-open"></i> 192</span>
            </p>
            <a href="/my_blog/article" class="viewmore">阅读更多</a></li>
        <li>
            <h3 class="blogtitle"><a href="/my_blog/article" target="_blank">宝宝个人博客模板-亲子博客模板-宝宝个人网站模板</a></h3>
            <span class="blogpic imgscale"><i><a href="/my_blog/article">最新模板</a></i><a href="/my_blog/article" title=""><img
                    src="Front-End/images/b02.jpg" alt=""></a></span>
            <p class="blogtext">
                这是一个记录宝宝成长点滴的个人博客，用作于宝宝博客，亲子博客，都是适用的。颜色为蓝色调，头部有飘动的卡通云，采用css3动画效果，布局简单，代码精简，还有相册功能，发图片，视频，时间轴可记录重要时刻，也可记录宝宝的生长发育状况，也可以统计宝宝博客网站的所有文章... </p>
            <p class="bloginfo">
                <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                <span>DragonWen</span>
                <span><i class="el-time"></i> 2018-10-28</span>
                <span><i class="el-comment"></i> 0</span>
                <span><i class="el-eye-open"></i> 192</span>
            </p>
            <a href="/my_blog/article" class="viewmore">阅读更多</a></li>
        <li>
            <h3 class="blogtitle"><a href="/my_blog/article" target="_blank">如何快速建立自己的个人博客网站</a></h3>
            <span class="blogpic imgscale"><i><a href="/my_blog/article">快速建站</a></i><a href="/my_blog/article" title=""><img
                    src="Front-End/images/b03.jpg" alt=""></a></span>
            <p class="blogtext">
                各大博客门户网站，相继关闭，做一个独立的个人博客网站，那是将来的趋势。越来越多的个人站长倾向于独立建站，有个属于自己的博客网站，那如何快速建立自己的个人博客网站呢，接下来，我就简单给大家介绍一下：以阿里云为例... </p>
            <p class="bloginfo">
                <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                <span>DragonWen</span>
                <span><i class="el-time"></i> 2018-10-28</span>
                <span><i class="el-comment"></i> 0</span>
                <span><i class="el-eye-open"></i> 192</span>
            </p>
            <a href="/my_blog/article" class="viewmore">阅读更多</a></li>
        <li>
            <h3 class="blogtitle"><a href="/my_blog/article" target="_blank">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a></h3>
            <span class="blogpic imgscale"><i><a href="/my_blog/article">设计制作</a></i><a href="/my_blog/article" title=""><img
                    src="Front-End/images/b04.jpg" alt=""></a></span>
            <p class="blogtext">
                就拿我自己来说吧，有时候会很矛盾，设计好的作品，不把它分享出来，会觉得待在自己电脑里面实在是没有意义。干脆就发布出去吧。我也害怕收到大家不好的评论，有些评论，可能说者无意，但是对于每一个用心的站长来说，都会受很深的影响，愤怒，恼羞。... </p>
            <p class="bloginfo">
                <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                <span>DragonWen</span>
                <span><i class="el-time"></i> 2018-10-28</span>
                <span><i class="el-comment"></i> 0</span>
                <span><i class="el-eye-open"></i> 192</span>
            </p>
            <a href="/my_blog/article" class="viewmore">阅读更多</a></li>
        <!--纯文字-->
        <li>
            <h3 class="blogtitle"><a href="/my_blog/article" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>
            <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if
                来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>
            <p class="bloginfo">
                <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                <span>DragonWen</span>
                <span><i class="el-time"></i> 2018-10-28</span>
                <span><i class="el-comment"></i> 0</span>
                <span><i class="el-eye-open"></i> 192</span>
            </p>
            <a href="/my_blog/article" class="viewmore">阅读更多</a></li>
        <!--单图-->
        <li>
            <h3 class="blogtitle"><a href="/my_blog/article" target="_blank">【个人博客网站制作】自己不会个人博客网站制作，你会选择用什么博客程序源码？</a></h3>
            <span class="blogpic imgscale"><i><a href="/my_blog/article">原创模板</a></i><a href="/my_blog/article" title=""><img
                    src="Front-End/images/b01.jpg" alt=""></a></span>
            <p class="blogtext">
                这些开源的博客程序源码，都是经过很多次版本测试的，都有固定的使用人群。我所知道的主流的博客程序有，Z-blog，Emlog，WordPress，Typecho等，免费的cms系统有，织梦cms（dedecms），phpcms，帝国cms（EmpireCMS）！... </p>
            <p class="bloginfo">
                <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                <span>DragonWen</span>
                <span><i class="el-time"></i> 2018-10-28</span>
                <span><i class="el-comment"></i> 0</span>
                <span><i class="el-eye-open"></i> 192</span>
            </p>
            <a href="/my_blog/article" class="viewmore">阅读更多</a></li>
        <li>
            <h3 class="blogtitle"><a href="/my_blog/article" target="_blank">如何快速建立自己的个人博客网站</a></h3>
            <span class="blogpic imgscale"><i><a href="/my_blog/article">快速建站</a></i><a href="/my_blog/article" title=""><img
                    src="Front-End/images/b03.jpg" alt=""></a></span>
            <p class="blogtext">
                各大博客门户网站，相继关闭，做一个独立的个人博客网站，那是将来的趋势。越来越多的个人站长倾向于独立建站，有个属于自己的博客网站，那如何快速建立自己的个人博客网站呢，接下来，我就简单给大家介绍一下：以阿里云为例... </p>
            <p class="bloginfo">
                <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                <span>DragonWen</span>
                <span><i class="el-time"></i> 2018-10-28</span>
                <span><i class="el-comment"></i> 0</span>
                <span><i class="el-eye-open"></i> 192</span>
            </p>
            <a href="/my_blog/article" class="viewmore">阅读更多</a></li>
        <li>
            <h3 class="blogtitle"><a href="/my_blog/article" target="_blank">【个人博客网站制作】自己不会个人博客网站制作，你会选择用什么博客程序源码？</a></h3>
            <span class="blogpic imgscale"><i><a href="/my_blog/article">原创模板</a></i><a href="/my_blog/article" title=""><img
                    src="Front-End/images/b05.jpg" alt=""></a></span>
            <p class="blogtext">
                这些开源的博客程序源码，都是经过很多次版本测试的，都有固定的使用人群。我所知道的主流的博客程序有，Z-blog，Emlog，WordPress，Typecho等，免费的cms系统有，织梦cms（dedecms），phpcms，帝国cms（EmpireCMS）！... </p>
            <p class="bloginfo">
                <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                <span>DragonWen</span>
                <span><i class="el-time"></i> 2018-10-28</span>
                <span><i class="el-comment"></i> 0</span>
                <span><i class="el-eye-open"></i> 192</span>
            </p>
            <a href="/my_blog/article" class="viewmore">阅读更多</a></li>
        <div th:replace="common/navigation :: navigation-index(blogs)"></div>
    </ul>
</div>
<!--最新博文 end-->
</body>
</html>