<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>公共模块</title>
</head>
<body>
<!--头部菜单栏公共模块 begin-->
<header id="header" th:fragment="head">
    <div class="navbox">
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <div class="logo"><a href="http://www.yangqq.com">DragonWen个人博客</a></div>
        <nav>
            <ul id="starlist">
                <li><a href="/">首页</a></li>
                <li><a href="../blog">个人博客日记</a></li>
                <li class="menu"><a href="../classify">随笔分类</a>
                    <ul class="sub">
                        <li><a href="/">编程语言</a></li>
                        <li><a href="/">软件设计</a></li>
                        <li><a href="/">Web前端</a></li>
                        <li><a href="/">数据库技术</a></li>
                        <li><a href="/">其他分类</a></li>
                    </ul>
                    <span></span></li>
                <li><a href="../resume">个人简历</a></li>
                <li><a href="../repository">知识库</a></li>
                <li><a href="../about">关于我</a></li>
            </ul>
        </nav>
        <div class="searchico"></div>
    </div>
</header>
<!--头部菜单栏公共模块 end-->
<!--头部搜索框公共模块 begin-->
<div class="searchbox" th:fragment="search">
    <div class="search">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
            <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);"
                   onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
                   onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
            <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden">
            <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
    </div>
    <div class="searchclose"></div>
</div>
<!--头部搜索框公共模块 end-->

<!--底部公共模块 begin-->
<footer th:fragment="footer">
    <div class="box">
        <div class="wxbox">
            <ul>
                <li><img src="Front-End/images/wxgzh.jpg"><span>微信公众号</span></li>
                <li><img src="Front-End/images/wx.png"><span>我的微信</span></li>
            </ul>
        </div>
        <div class="endnav">
            <p><b>站点声明：</b></p>
            <p>1、本站个人博客模板，均为杨青青本人设计，个人可以使用，但是未经许可不得用于任何商业目的。</p>
            <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：<a
                    href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=HHh9cn95b3F1cHVye1xtbTJ-c3E"
                    target="_blank">dacesmiling@qq.com</a></p>
            <p>Copyright © <a href="http://www.yangqq.com" target="_blank">www.yangqq.com</a> All Rights Reserved.
                备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备11002373号-1</a></p>
        </div>
    </div>
    <a href="#">
        <div class="top"></div>
    </a>
</footer>
<!--底部公共模块 end-->
</body>
</html>