<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>公共模块</title>
</head>
<body>
<!--头部菜单栏公共模块 begin-->
<header id="header" th:fragment="head">
    <div class="navbox">
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <div class="logo"><a href="http://www.yangqq.com">DragonWen个人博客</a></div>
        <nav>
            <ul id="starlist">
                <li><a href="/">首页</a></li>
                <li><a href="../blog">个人博客日记</a></li>
                <li class="menu"><a href="../classify">随笔分类</a>
                    <ul class="sub">
                        <li><a href="/">编程语言</a></li>
                        <li><a href="/">软件设计</a></li>
                        <li><a href="/">Web前端</a></li>
                        <li><a href="/">数据库技术</a></li>
                        <li><a href="/">其他分类</a></li>
                    </ul>
                    <span></span></li>
                <li><a href="../resume">个人简历</a></li>
                <li><a href="../repository">知识库</a></li>
                <li><a href="../about">关于我</a></li>
            </ul>
        </nav>
        <div class="searchico"></div>
    </div>
</header>
<!--头部菜单栏公共模块 end-->

<!--头部搜索框公共模块 begin-->
<div class="searchbox" th:fragment="search">
    <div class="search">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
            <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);"
                   onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
                   onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
            <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden">
            <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
    </div>
    <div class="searchclose"></div>
</div>
<!--头部搜索框公共模块 end-->

<!--点击排行 begin-->
<div class="whitebg paihang" th:fragment="paihang">
    <h2 class="htitle">点击排行</h2>
    <section class="topnews imgscale"><a href="/"><img
            src="Front-End/images/h1.jpg"><span>6条网页设计配色原则,让你秒变配色高手</span></a></section>
    <ul>
        <li><i></i><a href="/">十条设计原则教你学会如何设计网页布局!</a></li>
        <li><i></i><a href="/">用js+css3来写一个手机栏目导航</a></li>
        <li><i></i><a href="/">6条网页设计配色原则,让你秒变配色高手</a></li>
        <li><i></i><a href="/">三步实现滚动条触动css动画效果</a></li>
        <li><i></i><a href="/">个人博客，属于我的小世界！</a></li>
        <li><i></i><a href="/">安静地做一个爱设计的女子</a></li>
        <li><i></i><a href="/">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
        <li><i></i><a href="/">做个人博客如何用帝国cms美化留言增加头像选择</a></li>
    </ul>
</div>
<!--点击排行 end-->

<!--站长推荐 begin-->
<div class="whitebg tuijian" th:fragment="tuijian">
    <h2 class="htitle">站长推荐</h2>
    <section class="topnews imgscale"><a href="/"><img
            src="Front-End/images/h2.jpg"><span>6条网页设计配色原则,让你秒变配色高手</span></a></section>
    <ul>
        <li><a href="/"><i><img src="Front-End/images/text01.jpg"></i>
            <p>十条设计原则教你学会如何设计网页布局!</p>
        </a></li>
        <li><a href="/"><i><img src="Front-End/images/text02.jpg"></i>
            <p>用js+css3来写一个手机栏目导航</p>
        </a></li>
        <li><a href="/"><i><img src="Front-End/images/text03.jpg"></i>
            <p>6条网页设计配色原则,让你秒变配色高手</p>
        </a></li>
        <li><a href="/"><i><img src="Front-End/images/text04.jpg"></i>
            <p>三步实现滚动条触动css动画效果</p>
        </a></li>
        <li><a href="/"><i><img src="Front-End/images/text05.jpg"></i>
            <p>个人博客，属于我的小世界！</p>
        </a></li>
        <li><a href="/"><i><img src="Front-End/images/text06.jpg"></i>
            <p>安静地做一个爱设计的女子</p>
        </a></li>
        <li><a href="/"><i><img src="Front-End/images/text07.jpg"></i>
            <p>个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</p>
        </a></li>
    </ul>
</div>
<!--站长推荐 end-->

<!--广告节点3 begin-->
<div class="ad whitebg imgscale" th:fragment="ad3">
    <ul>
        <a href="/"><img src="Front-End/images/ad.jpg"></a>
    </ul>
</div>
<!--广告节点3 end-->

<!--标签云 begin-->
<div class="whitebg cloud" th:fragment="label">
    <h2 class="htitle">标签云</h2>
    <ul>
        <a href="" target="_blank">个人博客模板</a> <a href="" target="_blank">css动画</a> <a href="" target="_blank">布局</a> <a href="" target="_blank">今夕何夕</a> <a href="" target="_blank">SEO</a> <a href="" target="_blank">女程序员</a> <a href="" target="_blank">小世界</a> <a href="" target="_blank">个人博客</a> <a href="" target="_blank">网页设计</a>
    </ul>
</div>
<!--标签云 end-->

<!--猜你喜欢 begin-->
<div class="whitebg wenzi" th:fragment="love">
    <h2 class="htitle">猜你喜欢</h2>
    <ul>
        <li><a href="/">十条设计原则教你学会如何设计网页布局!</a></li>
        <li><a href="/">用js+css3来写一个手机栏目导航</a></li>
        <li><a href="/">6条网页设计配色原则,让你秒变配色高手</a></li>
        <li><a href="/">三步实现滚动条触动css动画效果</a></li>
        <li><a href="/">个人博客，属于我的小世界！</a></li>
        <li><a href="/">安静地做一个爱设计的女子</a></li>
        <li><a href="/">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
        <li><a href="/">做个人博客如何用帝国cms美化留言增加头像选择</a></li>
    </ul>
</div>
<!--猜你喜欢 end-->

<!--广告节点4 begin-->
<div class="ad whitebg imgscale" th:fragment="ad4">
    <ul>
        <a href="/"><img src="Front-End/images/ad02.jpg"></a>
    </ul>
</div>
<!--广告节点4 end-->

<!--站点统计 begin-->
<div class="whitebg tongji" th:fragment="tongji">
    <h2 class="htitle">站点信息</h2>
    <ul>
        <li><b>建站时间</b>：2018-10-24</li>
        <li><b>网站程序</b>：帝国CMS7.5</li>
        <li><b>主题模板</b>：<a href="http://www.yangqq.com" target="_blank">《今夕何夕》</a></li>
        <li><b>文章统计</b>：<a href="time" target="_blank">395</a>篇文章</li>
        <li><b>文章评论</b>：490条</li>
        <li><b>统计数据</b>：<a href="/">百度统计</a></li>
        <li><b>微信公众号</b>：扫描二维码，关注我们</li>
        <img src="Front-End/images/wxgzh.jpg" class="tongji_gzh">
    </ul>
</div>
<!--站点统计 end-->

<!--底部公共模块 begin-->
<footer th:fragment="footer">
    <div class="box">
        <div class="wxbox">
            <ul>
                <li><img src="Front-End/images/wxgzh.jpg"><span>微信公众号</span></li>
                <li><img src="Front-End/images/wx.png"><span>我的微信</span></li>
            </ul>
        </div>
        <div class="endnav">
            <p><b>站点声明：</b></p>
            <p>1、本站个人博客模板，均为杨青青本人设计，个人可以使用，但是未经许可不得用于任何商业目的。</p>
            <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：<a
                    href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=HHh9cn95b3F1cHVye1xtbTJ-c3E"
                    target="_blank">dacesmiling@qq.com</a></p>
            <p>Copyright © <a href="http://www.yangqq.com" target="_blank">www.yangqq.com</a> All Rights Reserved.
                备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备11002373号-1</a></p>
        </div>
    </div>
    <a href="#">
        <div class="top"></div>
    </a>
</footer>
<!--底部公共模块 end-->
</body>
</html>