.lf {
	float:left
}
.rt {
	float:right
}
.po-login-box {
	max-width:448px;
	width:100%;
	min-height:450px;
	padding:0 40px;
	background-color:#fff;
	box-sizing:border-box
}
.po-login-box .po-logo {
	width:140px;
	height:40px;
	position:absolute;
	left:30px;
	top:30px;
	z-index:100
}
.po-login-box .po-logo img {
	width:100%
}
.po-login-box .po-login {
	width:100%;
	height:100%
}
.po-login-box .po-login .po-logo {
	display:none;
	top:-93px;
	left:50%;
	transform:translateX(-50%)
}
.po-link {
	color:#067bef
}
.po-link.color-out {
	color:#6c7d8f
}
.po-login-box .po-login .login-exchange {
	position:absolute;
	top:0;
	left:0;
	width:52px;
	height:52px;
	cursor:pointer;
	overflow:hidden
}
.po-login-box .po-login .login-exchange:hover {
	opacity:1
}
.po-login-box .po-login .login-exchange .exchange-box {
	width:104px;
	height:104px;
	position:absolute;
	right:0;
	top:0
}
.po-login-box .po-login .login-exchange .exchange-box .login-icon {
	width:52px;
	height:52px;
	position:absolute
}
.po-login-box .po-login .login-exchange .exchange-box .login-icon::before {
	content:"";
	display:block;
	width:200%;
	height:100%;
	background:#fff;
	transform:rotate(-45deg);
	position:absolute;
	top:20%;
	left:0
}
.po-login-box .po-login .login-exchange .exchange-box .login-icon.login-for-wx {
	right:0;
	top:0;
	/* background:url(../img/login/icon-exchange-wx.png) no-repeat; */
	background-size:52px
}
.po-login-box .po-login .login-exchange .exchange-box .login-icon.login-for-phone {
	right:52px;
	top:52px;
	/* background:url(../img/login/icon-exchange-phone.png) no-repeat; */
	background-size:52px
}
.po-login-box .po-login ol.login-tab {
	width:224px;
	overflow:hidden;
	margin-bottom:30px
}
.po-login-box .po-login ol.login-tab li {
	font-size:16px;
	font-weight:400;
	color:#9aa5b8;
	line-height:22px;
	float:left;
	cursor:pointer;
	font-weight:400;
	padding-bottom:10px
}
.po-login-box .po-login ol.login-tab li.mr {
	margin-right:28px
}
.po-login-box .po-login ol.login-tab li.active {
	color:#212930;
	font-weight:700;
	border-bottom:2px solid #212930
}
.po-login-box .po-login.qrcode .login-title h3,.po-login-box .po-login.register .login-title h3,.po-login-box .po-login.registerok .login-title h3,.po-login-box .po-login.registerteam .login-title h3 {
	text-align:center
}
.po-login-box .po-login .login-title {
	margin-bottom:40px;
	text-align:center
}
.po-login-box .po-login .login-title img {
	width:60px;
	height:60px;
	margin-top:60px
}
.po-login-box .po-login .login-title h3 {
	height:34px;
	font-size:24px;
	font-weight:500;
	color:#212930;
	line-height:28px;
	margin-top:36px;
	position:relative;
	text-align:left
}
.po-login-box .po-login .login-title p {
	font-size:12px;
	color:#9aa5b8
}
.po-login-box .po-login .login-form .inputs {
	min-height:40px;
	margin-bottom:20px;
	position:relative
}
.po-login-box .po-login .login-form .inputs.error {
	margin-bottom:13px
}
.po-login-box .po-login .login-form .inputs.mb32 {
	margin-bottom:32px
}
.po-login-box .po-login .login-form .inputs.mb40 {
	margin-bottom:40px
}
.po-login-box .po-login .login-form .inputs.mb44 {
	margin-bottom:44px
}
.po-login-box .po-login .login-form .inputs .input-btn {
	position:absolute;
	width:20px;
	height:20px;
	line-height:20px;
	top:11px;
	right:12px;
	font-size:14px;
	cursor:pointer
}
.po-login-box .po-login .login-form .inputs .input-btn.show-pwd__open {
	background:url(../img/login/icon-close-pwd-2x.png) no-repeat center;
	background-size:100%
}
.po-login-box .po-login .login-form .inputs .input-btn.show-pwd__close {
	background:url(../img/login/icon-show-pwd-2x.png) no-repeat center;
	background-size:100%
}
.po-login-box .po-login .login-form .inputs .input-btn.get-code {
	width:auto
}
.po-login-box .po-login .login-form .inputs input {
	width:100%;
	height:42px;
	border-radius:4px;
	border:1px solid #c7c9cb;
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-indent:16px;
	font-size:14px
}
.po-login-box .po-login .login-form .inputs input::placeholder {
	color:#9aa5b8
}
.po-login-box .po-login .login-form .inputs input:hover {
	border-color:#9aa5b8
}
.po-login-box .po-login .login-form .inputs input:focus {
	border-color:#067bef
}
.po-login-box .po-login .login-form .inputs input.error {
	border-color:#eb5555
}
.po-login-box .po-login .login-form .inputs input.error:focus,.po-login-box .po-login .login-form .inputs input.error:hover {
	border-color:#eb5555
}
.po-login-box .po-login .login-form .inputs input.select {
	cursor:pointer
}
.po-login-box .po-login .login-form .inputs .input-error-notice {
	color:#eb5555;
	display:none;
	padding-left:16px;
	line-height:17px;
	height:17px;
	margin-top:2px;
	font-size:12px;
	position:absolute;
	top:42px;
	left:0
}
.po-login-box .po-login .login-form .inputs .input-title {
	display:block;
	position:absolute;
	top:-24px;
	left:0;
	height:20px;
	line-height:20px;
	margin-bottom:4px;
	font-size:14px
}
.po-login-box .po-login .login-form .inputs .input-select {
	height:42px;
	position:relative
}
.po-login-box .po-login .login-form .inputs .input-select .po-select {
	border-radius:8px;
	width:calc(78%);
	height:42px;
	line-height:42px;
	border-color:#c7c9cb
}
.po-login-box .po-login .login-form .inputs .input-select .po-select:hover {
	border-color:#9aa5b8
}
.po-login-box .po-login .login-form .btns {
	height:74px;
	position:relative;
	margin-bottom:46px
}
.po-login-box .po-login .login-form .btns .btns-register {
	font-size:14px;
	text-align:center;
	margin-top:30px
}
.po-login-box .po-login .login-form .btns .po-link {
	position:absolute;
	font-size:14px
}
.po-login-box .po-login .login-form .btns .po-link.lf {
	left:0;
	top:54px
}
.po-login-box .po-login .login-form .btns .po-link.rt {
	top:54px;
	right:0
}
.po-login-box .po-login .login-form .btns .po-link.center {
	position:initial;
	text-align:center;
	display:block;
	margin-top:24px
}
.login-form .po-button-small {
	padding:4px 20px;
	border-radius:4px;
	font-size:14px;
	display:inline-block;
	cursor:pointer
}
.login-form .po-button-small.gray {
	border:1px solid #e9edf2;
	color:#212930;
	background:#fff
}
.login-form .po-button-small.primary {
	color:#fff;
	background-color:#067bef;
	border:1px solid #067bef
}
.login-form .po-button-small.primary.disabled {
	opacity:.4
}
.po-login-box .po-login .login-form .btns button.submit {
	font-weight:700;
	width:100%;
	height:42px;
	border-radius:4px;
	outline:0;
	font-size:14px;
	color:#fff;
	background-color:#067bef;
	border:1px solid #067bef
}
.po-login-box .po-login .login-form .btns button.submit.disabled {
	opacity:1;
	background-color:#9bcaf9;
	border-color:#9bcaf9
}
.po-login-box .po-login .login-form .other-logins {
	width:318px;
	height:78px;
	position:absolute;
	bottom:64px;
	left:50%;
	transform:translateX(-50%);
	margin:0 auto;
	text-align:center
}
.po-login-box .po-login .login-form .other-logins .title {
	height:20px;
	position:relative;
	margin-bottom:20px
}
.po-login-box .po-login .login-form .other-logins .title::after,.po-login-box .po-login .login-form .other-logins .title::before {
	content:"";
	width:90px;
	height:1px;
	background:#e9edf2;
	position:absolute
}
.po-login-box .po-login .login-form .other-logins .title::before {
	left:0;
	top:10px
}
.po-login-box .po-login .login-form .other-logins .title::after {
	right:0;
	top:10px
}
.po-login-box .po-login .login-form .other-logins .title h3 {
	margin:0;
	padding:0;
	font-weight:400;
	color:#9aa5b8;
	font-size:14px
}
.po-login-box .po-login .login-form .other-logins .three-list {
	display:flex;
	margin:0 auto;
	align-items:center;
	justify-content:center
}
.po-login-box .po-login .login-form .other-logins .three-list li {
	height:16px;
	margin-right:20px;
	flex-shrink:0;
	cursor:pointer;
	position:relative
}
.po-login-box .po-login .login-form .other-logins .three-list li img {
	width:18px;
	height:18px;
	position:absolute;
	left:0;
	top:0
}
.po-login-box .po-login .login-form .other-logins .three-list li span {
	font-size:14px;
	padding-left:20px;
	color:#6c7d8f
}
.po-login-box .po-login .login-form .other-logins .three-list li:last-child {
	margin-right:0
}
.po-login-box .po-login .login-form .other-logins .three-list li.link-to-account,.po-login-box .po-login .login-form .other-logins .three-list li.link-to-plogin,.po-login-box .po-login .login-form .other-logins .three-list li.link-to-pregister,.po-login-box .po-login .login-form .other-logins .three-list li.three-register,.po-login-box .po-login .login-form .other-logins .three-list li.wx-to-pregister {
	display:none
}
.po-login-box .po-login .login-form .other-logins .three-list li:hover {
	color:#067bef
}
.po-login-box .po-login .login-form .login-form-registerok .title-icon {
	width:72px;
	height:72px;
	margin:0 auto;
	margin-bottom:52px
}
.po-login-box .po-login .login-form .login-form-registerok .title-icon img {
	width:100%
}
.po-login-box .po-login .login-form .login-form-registerok .login-title {
	margin-top:0;
	margin-bottom:20px
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .title {
	height:20px;
	position:relative;
	margin:0 auto;
	margin-bottom:45px
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .title::after,.po-login-box .po-login .login-form .login-form-registerok .choice-box .title::before {
	content:"";
	width:60px;
	height:1px;
	background:#e9edf2;
	position:absolute
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .title::before {
	left:0;
	top:10px
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .title::after {
	right:0;
	top:10px
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .title h3 {
	margin:0;
	padding:0;
	font-weight:400;
	color:#9aa5b8;
	font-size:14px;
	text-align:center
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .choice-items {
	display:flex;
	flex-direction:column;
	margin:0 auto;
	align-items:center
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .choice-items .item {
	width:350px;
	height:100px;
	flex-shrink:0;
	text-align:center;
	position:relative;
	margin-bottom:33px;
	background:linear-gradient(137deg,#fff 0,#f5f9ff 100%);
	border-radius:4px 4px 4px 4px;
	opacity:1;
	border:1px solid #e9edf2
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .choice-items .item span.anglemark {
	display:block;
	position:absolute;
	left:-1px;
	top:-13px;
	min-width:61px;
	padding:0 8px;
	height:25px;
	line-height:25px;
	color:#fff;
	background:linear-gradient(135deg,#7cbeff 0,#067bef 100%);
	opacity:1;
	text-align:center;
	border-top-left-radius:8px;
	border-bottom-right-radius:8px
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .choice-items .item .team-img {
	width:100px;
	height:80px;
	background:linear-gradient(137deg,#fff 0,#f5f9ff 100%);
	border-radius:4px 4px 4px 4px;
	opacity:1;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom:16px;
	position:absolute;
	left:10px;
	top:18px
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .choice-items .item .team-img img {
	display:block;
	width:100%
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .choice-items .item .team-right {
	float:left;
	padding:20px 25px 0 126px;
	text-align:left
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .choice-items .item .team-right h4 {
	margin-bottom:4px;
	font-size:18px;
	font-weight:400;
	color:#000;
	line-height:20px
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .choice-items .item .team-right .team-info {
	font-size:12px;
	color:#9aa5b8;
	line-height:22px;
	font-weight:400
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .choice-items .item:hover {
	cursor:pointer;
	border-color:#067bef
}
.po-login-box .po-login .login-form .login-form-registerok .choice-box .choice-items .item.mr {
	margin-right:40px
}
.po-login-box .po-login .login-form-qrcode {
	min-height:200px;
	margin-bottom:60px;
	text-align:center
}
.po-login-box .po-login .login-form-qrcode .qrcode-notice {
	height:20px;
	display:inline-block;
	margin:0 auto;
	line-height:20px;
	font-size:14px;
	font-weight:400;
	color:#9aa5b8;
	text-align:center;
	margin-bottom:13px;
	position:relative
}
.po-login-box .po-login .login-form-qrcode .qrcode-notice img,.po-login-box .po-login .login-form-qrcode .qrcode-notice span.code {
	display:block;
	float:left
}
.po-login-box .po-login .login-form-qrcode .qrcode-notice img {
	width:18px;
	position:relative;
	top:1px
}
.po-login-box .po-login .login-form-qrcode .qrcode-btns {
	width:275px;
	height:22px;
	margin:0 auto;
	font-size:14px
}
.po-login-box .po-login.qrcode .login-form-qrcode .qrcode-btns .btns-register {
	display:none
}
.po-login-box .po-login.register .login-form-qrcode .qrcode-btns .btns-login {
	display:none
}
.po-login-box .po-login .login-form-qrcode .qrcode-btns .btns-login .center {
	position:initial;
	text-align:center;
	display:block;
	margin-top:24px
}
.po-login-box .po-login .login-form-qrcode .qrcode-wx {
	position:relative;
	width:200px;
	height:200px;
	background:#fff;
	border-radius:8px 8px 8px 8px;
	border:1px solid #e9edf2;
	margin:0 auto 30px;
	line-height:200px
}
.po-login-box .po-login .login-form-qrcode .qrcode-wx img {
	width:100%;
	height:100%
}
.po-login-box .po-login.qrcode .other-logins .three-list li.wx,.po-login-box .po-login.register .other-logins .three-list li.wx,.po-login-box .registerok .other-logins .three-list li.wx {
	display:none!important
}
.po-login-box .po-login.qrcode .other-logins .three-list li.link-to-account,.po-login-box .po-login.qrcode .other-logins .three-list li.link-to-plogin,.po-login-box .po-login.qrcode .other-logins .three-list li.three-login,.po-login-box .po-login.register .other-logins .three-list li.link-to-account,.po-login-box .po-login.register .other-logins .three-list li.link-to-plogin,.po-login-box .po-login.register .other-logins .three-list li.three-login,.po-login-box .registerok .other-logins .three-list li.link-to-account,.po-login-box .registerok .other-logins .three-list li.link-to-plogin,.po-login-box .registerok .other-logins .three-list li.three-login {
	display:block
}
.po-login-box .po-login.qrcode .other-logins .three-list li.link-to-pregister,.po-login-box .po-login.qrcode .other-logins .three-list li.three-register,.po-login-box .po-login.qrcode .other-logins .three-list li.wx-to-pregister,.po-login-box .po-login.register .other-logins .three-list li.link-to-pregister,.po-login-box .po-login.register .other-logins .three-list li.three-register,.po-login-box .po-login.register .other-logins .three-list li.wx-to-pregister,.po-login-box .registerok .other-logins .three-list li.link-to-pregister,.po-login-box .registerok .other-logins .three-list li.three-register,.po-login-box .registerok .other-logins .three-list li.wx-to-pregister {
	display:none
}
.po-login-box .po-login.pregister li.three-login,.po-login-box .po-login.pregister li.wx {
	display:none!important
}
.po-login-box .po-login.pregister li.three-register {
	display:block!important
}
.bind+.po-copyright,.bindsucc+.po-copyright,.bindtip+.po-copyright,.forgetpwd+.po-copyright,.po-login-box .registerok+.po-copyright,.po-login-box .registerteam+.po-copyright {
	display:none
}
.po-login-box .three-login.dropdown {
	background:0 0;
	padding:0 14px 0 2px
}
.po-login-box .three-list li.dropdown:after {
	position:absolute;
	content:'\e618 ';
	right:-1px;
	top:2px;
	font-family:icons;
	font-size:16px;
	color:#9aa5b8
}
.po-login-box .login-form-bindsucc .login-title h3,.po-login-box .login-form-bindtip .login-title h3 {
	text-align:center
}
.po-login-box .po-login.register .other-logins .three-list li.link-to-account,.po-login-box .po-login.register .other-logins .three-list li.link-to-plogin,.po-login-box .po-login.register .other-logins .three-list li.three-login {
	display:none
}
.po-login-box .po-login.register .other-logins .three-list li.link-to-pregister,.po-login-box .po-login.register .other-logins .three-list li.three-register,.po-login-box .po-login.register .other-logins .three-list li.wx-to-pregister {
	display:block
}
.po-login-box .po-copyright {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	text-align:center;
	height:42px;
	line-height:42px;
	font-size:12px;
	color:#9aa5b8;
	background:#f9f9f9
}
.po-login-box .po-copyright .po-link {
	color:#212930
}
.po-login-box .po-copyright .po-link:hover {
	color:#067bef
}
.po-menu {
	position:absolute;
	background:#fff;
	border:#e9edf2;
	box-shadow:0 8px 20px 0 rgb(0 0 0 / 10%);
	border-radius:4px;
	padding:4px 0;
	color:#212930;
	font-size:14px
}
.po-menu .po-menu-item {
	padding:0 4px;
	position:relative
}
.po-menu .po-menu-item .po-menu-item-box {
	height:32px;
	line-height:32px;
	border-radius:4px;
	cursor:pointer;
	padding-left:32px;
	padding-right:8px;
	white-space:nowrap;
	display:flex;
	justify-content:space-between;
	align-items:center;
	position:relative
}
.po-menu .po-menu-item .po-menu-item-box:hover {
	background-color:#f3f5f9
}
.po-menu .po-menu-item img {
	position:absolute;
	width:16px;
	height:16px;
	left:12px
}
.po-menu .po-menu-item span {
	font-size:12px
}
