<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>个人简历-DragonWen个人博客</title>
    <meta name="keywords" content="blog" />
    <meta name="description" content="blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="common/images/D_50.png">
    <link href="Front-End/css/base.css" rel="stylesheet">
    <link href="Front-End/css/m.css" rel="stylesheet">
    <script src="Front-End/js/jquery-1.8.3.min.js" ></script>
    <script src="Front-End/js/comm.js"></script>
    <!--[if lt IE 9]>
    <script src="Front-End/js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
<!--top begin-->
<div th:replace="common/common :: head"></div>

<div th:replace="common/common :: search"></div>
<!--top end-->
<article>
    <!--lbox begin-->
    <div class="lbox">
        <div class="whitebg lanmu"> <img src="Front-End/images/lm04.jpg">
            <h1>网页设计心得</h1>
            <p>个人博客用来做什么？我的个人博客网站它不仅仅是我个人兴趣和爱好，还是我创业的起点。我爱网页设计，我爱写前端代码。它充实了我的生活，实现了我的目标和梦想。</p>
        </div>
        <div class="zhuanti whitebg">
            <h2 class="htitle"><span class="hnav"><a href="/" target="_blank">更多</a></span>青青日记</h2>
            <ul>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/1.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/2.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/3.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/4.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/h2.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/h1.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
            </ul>
        </div>
        <div class="zhuanti whitebg">
            <h2 class="htitle"><span class="hnav"><a href="/" target="_blank">更多</a></span>美文欣赏</h2>
            <ul>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/1.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/2.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/3.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/4.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/h2.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/h1.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
            </ul>
        </div>
        <div class="zhuanti whitebg">
            <h2 class="htitle"><span class="hnav"><a href="/" target="_blank">更多</a></span>程序人生</h2>
            <ul>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/1.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/2.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/3.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/4.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/h2.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/h1.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
            </ul>
        </div>
        <div class="zhuanti whitebg">
            <h2 class="htitle"><span class="hnav"><a href="/" target="_blank">更多</a></span>经典语录</h2>
            <ul>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/1.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/2.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/3.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/4.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/h2.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
                <li> <i class="ztpic"><a href="/" target="_blank"><img src="Front-End/images/h1.jpg"></a></i> <b>个人博客模板《今夕何夕》-响应式个人...</b><span>个人博客模板《今夕何夕》，宽屏响应式个人博客模板，采用冷色系为主，固定导航栏和侧边栏，无缝滚动图片...</span><a href="" target="_blank" class="readmore">文章阅读</a> </li>
            </ul>
        </div>

        <!--bloglist end-->
    </div>
    <div class="rbox">
        <!--点击排行 begin-->
        <div th:replace="common/common :: paihang"></div>
        <!--点击排行 end-->
        <!--站长推荐 begin-->
        <div th:replace="common/common :: tuijian"></div>
        <!--站长推荐 end-->
        <!--广告节点3 begin-->
        <div th:replace="common/common :: ad3"></div>
        <!--广告节点3 end-->
        <!--标签云 begin-->
        <div th:replace="common/common :: label"></div>
        <!--标签云 end-->
        <!--猜你喜欢 begin-->
        <div th:replace="common/common :: love"></div>
        <!--猜你喜欢 end-->
        <!--广告节点4 begin-->
        <div th:replace="common/common :: ad4"></div>
        <!--广告节点4 end-->
        <!--站点统计 begin-->
        <div th:replace="common/common :: tongji"></div>
        <!--站点统计 end-->
    </div>
</article>

<!--footer begin-->
<div th:replace="common/common :: footer"></div>
<!--footer end-->

</body>
</html>
