<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: commonHead('知识库-DragonWen个人博客')"></head>
<body>
<!--top begin-->
<div th:replace="common/common :: head"></div>

<div th:replace="common/common :: search"></div>
<!--top end-->
<article>
    <div class="lbox">
        <div class="whitebg lanmu"> <img src="Front-End/images/lm04.jpg">
            <h1>知识库</h1>
            <p>知识库，本栏目主要是教学视频资源分享。主要有AngularJS、BootStrap、python3.X全栈、Node.js + MongoDB、Java、C/C++、Linux、主流数据库、大数据。。。</p>
        </div>
        <!--最新课程 start-->
        <div class="whitebg bloglist">
            <h2 class="htitle">
                <i class="el-tasks"></i>
                最新课程
                <small> Latest Courses</small>
            </h2>
            <ul>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">2017IOS开发全套视频教程传智播客oc/swift项目实战</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">转载课程</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/curriculum/1.jpg" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        IOS开发全套视频教程传智播客oc/swift项目实战。适合人群：零基础想从事ios工作的大学生或在职人员，特别是刚开始从事ios的人员
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看详情</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">SSM大型商城系统项目实战视频教程/前后台分布式架构/Java源代码</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">转载课程</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/curriculum/2.jpg" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        SSM大型商城系统项目实战视频教程/前后台分布式架构/Java源代码
                        SSM大型商城系统项目实战视频教程/前后台分布式架构/Java源代码
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看详情</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">Dubbo/Redis/ZooKeeper/activemq视频教程/电商项目/互联网架构师</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">转载课程</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/curriculum/3.png" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        Dubbo/Redis/ZooKeeper/activemq视频教程/电商项目/互联网架构师
                        Dubbo/Redis/ZooKeeper/activemq视频教程/电商项目/互联网架构师
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看详情</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">spring mvc视频教程 mybatis框架 mybatis ssm spring 框架整合</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">转载课程</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/curriculum/4.jpg" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        spring mvc视频教程 mybatis框架 mybatis ssm spring 框架整合
                        spring mvc视频教程 mybatis框架 mybatis ssm spring 框架整合
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看详情</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">Node.js从入门到企业Web开发中的应用视频教程自动发货</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">转载课程</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/curriculum/5.jpg" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        Node.js从入门到企业Web开发中的应用视频教程自动发货
                        Node.js从入门到企业Web开发中的应用视频教程自动发货
                        Node.js从入门到企业Web开发中的应用视频教程自动发货
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看详情</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">Linux全套视频教程零基础 CentOS UBuntu系统运维开发入门到精通</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">转载课程</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/curriculum/6.png" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        Linux全套视频教程零基础 CentOS UBuntu系统运维开发入门到精通
                        Linux全套视频教程零基础 CentOS UBuntu系统运维开发入门到精通
                        Linux全套视频教程零基础 CentOS UBuntu系统运维开发入门到精通
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看详情</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">2017IOS开发全套视频教程传智播客oc/swift项目实战</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">转载课程</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/curriculum/1.jpg" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        IOS开发全套视频教程传智播客oc/swift项目实战。适合人群：零基础想从事ios工作的大学生或在职人员，特别是刚开始从事ios的人员
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看详情</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">SSM大型商城系统项目实战视频教程/前后台分布式架构/Java源代码</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">转载课程</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/curriculum/2.jpg" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        SSM大型商城系统项目实战视频教程/前后台分布式架构/Java源代码
                        SSM大型商城系统项目实战视频教程/前后台分布式架构/Java源代码
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看详情</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">Dubbo/Redis/ZooKeeper/activemq视频教程/电商项目/互联网架构师</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">转载课程</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/curriculum/3.png" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        Dubbo/Redis/ZooKeeper/activemq视频教程/电商项目/互联网架构师
                        Dubbo/Redis/ZooKeeper/activemq视频教程/电商项目/互联网架构师
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看详情</a>
                </li>
                <div th:replace="common/navigation :: navigation-index(blogs)"></div>
            </ul>
        </div>
        <!--最新课程 end-->
    </div>
    <div class="rbox">
        <!--点击排行 begin-->
        <div th:replace="common/common :: paihang"></div>
        <!--点击排行 end-->
        <!--站长推荐 begin-->
        <div th:replace="common/common :: tuijian"></div>
        <!--站长推荐 end-->
        <!--广告节点3 begin-->
        <div th:replace="common/common :: ad3"></div>
        <!--广告节点3 end-->
        <!--标签云 begin-->
        <div th:replace="common/common :: label"></div>
        <!--标签云 end-->
        <!--猜你喜欢 begin-->
        <div th:replace="common/common :: love"></div>
        <!--猜你喜欢 end-->
        <!--广告节点4 begin-->
        <div th:replace="common/common :: ad4"></div>
        <!--广告节点4 end-->
        <!--站点统计 begin-->
        <div th:replace="common/common :: tongji"></div>
        <!--站点统计 end-->
    </div>
</article>

<!--footer begin-->
<div th:replace="common/common :: footer"></div>
<!--footer end-->

</body>
</html>
