<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.blog.mapper.BlogSysOperLogMapper">
  <resultMap id="BaseResultMap" type="com.dragon.blog.model.BlogSysOperLog">
    <id column="oper_id" jdbcType="INTEGER" property="operId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="business_type" jdbcType="INTEGER" property="businessType" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="operator_type" jdbcType="INTEGER" property="operatorType" />
    <result column="oper_name" jdbcType="VARCHAR" property="operName" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="oper_url" jdbcType="VARCHAR" property="operUrl" />
    <result column="oper_ip" jdbcType="VARCHAR" property="operIp" />
    <result column="oper_location" jdbcType="VARCHAR" property="operLocation" />
    <result column="oper_param" jdbcType="VARCHAR" property="operParam" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="oper_time" jdbcType="TIMESTAMP" property="operTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    oper_id, title, business_type, method, operator_type, oper_name, dept_name, oper_url, 
    oper_ip, oper_location, oper_param, status, error_msg, oper_time
  </sql>
  <select id="selectByExample" parameterType="com.dragon.blog.model.BlogSysOperLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_sys_oper_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_sys_oper_log
    where oper_id = #{operId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_sys_oper_log
    where oper_id = #{operId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dragon.blog.model.BlogSysOperLogExample">
    delete from blog_sys_oper_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dragon.blog.model.BlogSysOperLog">
    insert into blog_sys_oper_log (oper_id, title, business_type, 
      method, operator_type, oper_name, 
      dept_name, oper_url, oper_ip, 
      oper_location, oper_param, status, 
      error_msg, oper_time)
    values (#{operId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{businessType,jdbcType=INTEGER}, 
      #{method,jdbcType=VARCHAR}, #{operatorType,jdbcType=INTEGER}, #{operName,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{operUrl,jdbcType=VARCHAR}, #{operIp,jdbcType=VARCHAR}, 
      #{operLocation,jdbcType=VARCHAR}, #{operParam,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{errorMsg,jdbcType=VARCHAR}, #{operTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dragon.blog.model.BlogSysOperLog">
    insert into blog_sys_oper_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="operId != null">
        oper_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="operatorType != null">
        operator_type,
      </if>
      <if test="operName != null">
        oper_name,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="operUrl != null">
        oper_url,
      </if>
      <if test="operIp != null">
        oper_ip,
      </if>
      <if test="operLocation != null">
        oper_location,
      </if>
      <if test="operParam != null">
        oper_param,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="errorMsg != null">
        error_msg,
      </if>
      <if test="operTime != null">
        oper_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="operId != null">
        #{operId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="operatorType != null">
        #{operatorType,jdbcType=INTEGER},
      </if>
      <if test="operName != null">
        #{operName,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="operUrl != null">
        #{operUrl,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null">
        #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operLocation != null">
        #{operLocation,jdbcType=VARCHAR},
      </if>
      <if test="operParam != null">
        #{operParam,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null">
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null">
        #{operTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dragon.blog.model.BlogSysOperLogExample" resultType="java.lang.Long">
    select count(*) from blog_sys_oper_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blog_sys_oper_log
    <set>
      <if test="record.operId != null">
        oper_id = #{record.operId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.businessType != null">
        business_type = #{record.businessType,jdbcType=INTEGER},
      </if>
      <if test="record.method != null">
        method = #{record.method,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorType != null">
        operator_type = #{record.operatorType,jdbcType=INTEGER},
      </if>
      <if test="record.operName != null">
        oper_name = #{record.operName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null">
        dept_name = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.operUrl != null">
        oper_url = #{record.operUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.operIp != null">
        oper_ip = #{record.operIp,jdbcType=VARCHAR},
      </if>
      <if test="record.operLocation != null">
        oper_location = #{record.operLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.operParam != null">
        oper_param = #{record.operParam,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.errorMsg != null">
        error_msg = #{record.errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.operTime != null">
        oper_time = #{record.operTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blog_sys_oper_log
    set oper_id = #{record.operId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      business_type = #{record.businessType,jdbcType=INTEGER},
      method = #{record.method,jdbcType=VARCHAR},
      operator_type = #{record.operatorType,jdbcType=INTEGER},
      oper_name = #{record.operName,jdbcType=VARCHAR},
      dept_name = #{record.deptName,jdbcType=VARCHAR},
      oper_url = #{record.operUrl,jdbcType=VARCHAR},
      oper_ip = #{record.operIp,jdbcType=VARCHAR},
      oper_location = #{record.operLocation,jdbcType=VARCHAR},
      oper_param = #{record.operParam,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      error_msg = #{record.errorMsg,jdbcType=VARCHAR},
      oper_time = #{record.operTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dragon.blog.model.BlogSysOperLog">
    update blog_sys_oper_log
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="operatorType != null">
        operator_type = #{operatorType,jdbcType=INTEGER},
      </if>
      <if test="operName != null">
        oper_name = #{operName,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="operUrl != null">
        oper_url = #{operUrl,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null">
        oper_ip = #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operLocation != null">
        oper_location = #{operLocation,jdbcType=VARCHAR},
      </if>
      <if test="operParam != null">
        oper_param = #{operParam,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null">
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null">
        oper_time = #{operTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where oper_id = #{operId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dragon.blog.model.BlogSysOperLog">
    update blog_sys_oper_log
    set title = #{title,jdbcType=VARCHAR},
      business_type = #{businessType,jdbcType=INTEGER},
      method = #{method,jdbcType=VARCHAR},
      operator_type = #{operatorType,jdbcType=INTEGER},
      oper_name = #{operName,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      oper_url = #{operUrl,jdbcType=VARCHAR},
      oper_ip = #{operIp,jdbcType=VARCHAR},
      oper_location = #{operLocation,jdbcType=VARCHAR},
      oper_param = #{operParam,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      error_msg = #{errorMsg,jdbcType=VARCHAR},
      oper_time = #{operTime,jdbcType=TIMESTAMP}
    where oper_id = #{operId,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>