<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.blog.mapper.BlogAdPositionsMapper">
  <resultMap id="BaseResultMap" type="com.dragon.blog.model.BlogAdPositions">
    <id column="position_id" jdbcType="INTEGER" property="positionId" />
    <result column="position_type" jdbcType="TINYINT" property="positionType" />
    <result column="position_name" jdbcType="VARCHAR" property="positionName" />
    <result column="data_flag" jdbcType="TINYINT" property="dataFlag" />
    <result column="position_code" jdbcType="VARCHAR" property="positionCode" />
    <result column="ap_sort" jdbcType="INTEGER" property="apSort" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    position_id, position_type, position_name, data_flag, position_code, ap_sort
  </sql>
  <select id="selectByExample" parameterType="com.dragon.blog.model.BlogAdPositionsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_ad_positions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_ad_positions
    where position_id = #{positionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_ad_positions
    where position_id = #{positionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dragon.blog.model.BlogAdPositionsExample">
    delete from blog_ad_positions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dragon.blog.model.BlogAdPositions">
    insert into blog_ad_positions (position_id, position_type, position_name, 
      data_flag, position_code, ap_sort
      )
    values (#{positionId,jdbcType=INTEGER}, #{positionType,jdbcType=TINYINT}, #{positionName,jdbcType=VARCHAR}, 
      #{dataFlag,jdbcType=TINYINT}, #{positionCode,jdbcType=VARCHAR}, #{apSort,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dragon.blog.model.BlogAdPositions">
    insert into blog_ad_positions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="positionId != null">
        position_id,
      </if>
      <if test="positionType != null">
        position_type,
      </if>
      <if test="positionName != null">
        position_name,
      </if>
      <if test="dataFlag != null">
        data_flag,
      </if>
      <if test="positionCode != null">
        position_code,
      </if>
      <if test="apSort != null">
        ap_sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="positionId != null">
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="positionType != null">
        #{positionType,jdbcType=TINYINT},
      </if>
      <if test="positionName != null">
        #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null">
        #{dataFlag,jdbcType=TINYINT},
      </if>
      <if test="positionCode != null">
        #{positionCode,jdbcType=VARCHAR},
      </if>
      <if test="apSort != null">
        #{apSort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dragon.blog.model.BlogAdPositionsExample" resultType="java.lang.Long">
    select count(*) from blog_ad_positions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blog_ad_positions
    <set>
      <if test="record.positionId != null">
        position_id = #{record.positionId,jdbcType=INTEGER},
      </if>
      <if test="record.positionType != null">
        position_type = #{record.positionType,jdbcType=TINYINT},
      </if>
      <if test="record.positionName != null">
        position_name = #{record.positionName,jdbcType=VARCHAR},
      </if>
      <if test="record.dataFlag != null">
        data_flag = #{record.dataFlag,jdbcType=TINYINT},
      </if>
      <if test="record.positionCode != null">
        position_code = #{record.positionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.apSort != null">
        ap_sort = #{record.apSort,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blog_ad_positions
    set position_id = #{record.positionId,jdbcType=INTEGER},
      position_type = #{record.positionType,jdbcType=TINYINT},
      position_name = #{record.positionName,jdbcType=VARCHAR},
      data_flag = #{record.dataFlag,jdbcType=TINYINT},
      position_code = #{record.positionCode,jdbcType=VARCHAR},
      ap_sort = #{record.apSort,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dragon.blog.model.BlogAdPositions">
    update blog_ad_positions
    <set>
      <if test="positionType != null">
        position_type = #{positionType,jdbcType=TINYINT},
      </if>
      <if test="positionName != null">
        position_name = #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null">
        data_flag = #{dataFlag,jdbcType=TINYINT},
      </if>
      <if test="positionCode != null">
        position_code = #{positionCode,jdbcType=VARCHAR},
      </if>
      <if test="apSort != null">
        ap_sort = #{apSort,jdbcType=INTEGER},
      </if>
    </set>
    where position_id = #{positionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dragon.blog.model.BlogAdPositions">
    update blog_ad_positions
    set position_type = #{positionType,jdbcType=TINYINT},
      position_name = #{positionName,jdbcType=VARCHAR},
      data_flag = #{dataFlag,jdbcType=TINYINT},
      position_code = #{positionCode,jdbcType=VARCHAR},
      ap_sort = #{apSort,jdbcType=INTEGER}
    where position_id = #{positionId,jdbcType=INTEGER}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>