<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.blog.mapper.BlogSysLoginImageMapper">
  <resultMap id="BaseResultMap" type="com.dragon.blog.model.BlogSysLoginImage">
    <id column="login_image_id" jdbcType="VARCHAR" property="loginImageId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="order_by" jdbcType="INTEGER" property="orderBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    login_image_id, name, file_path, status, order_by
  </sql>
  <select id="selectByExample" parameterType="com.dragon.blog.model.BlogSysLoginImageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_sys_login_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_sys_login_image
    where login_image_id = #{loginImageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from blog_sys_login_image
    where login_image_id = #{loginImageId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dragon.blog.model.BlogSysLoginImageExample">
    delete from blog_sys_login_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dragon.blog.model.BlogSysLoginImage">
    insert into blog_sys_login_image (login_image_id, name, file_path, 
      status, order_by)
    values (#{loginImageId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{orderBy,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dragon.blog.model.BlogSysLoginImage">
    insert into blog_sys_login_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loginImageId != null">
        login_image_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="orderBy != null">
        order_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loginImageId != null">
        #{loginImageId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="orderBy != null">
        #{orderBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dragon.blog.model.BlogSysLoginImageExample" resultType="java.lang.Long">
    select count(*) from blog_sys_login_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blog_sys_login_image
    <set>
      <if test="record.loginImageId != null">
        login_image_id = #{record.loginImageId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.filePath != null">
        file_path = #{record.filePath,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.orderBy != null">
        order_by = #{record.orderBy,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blog_sys_login_image
    set login_image_id = #{record.loginImageId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      file_path = #{record.filePath,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      order_by = #{record.orderBy,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dragon.blog.model.BlogSysLoginImage">
    update blog_sys_login_image
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="orderBy != null">
        order_by = #{orderBy,jdbcType=INTEGER},
      </if>
    </set>
    where login_image_id = #{loginImageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dragon.blog.model.BlogSysLoginImage">
    update blog_sys_login_image
    set name = #{name,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      order_by = #{orderBy,jdbcType=INTEGER}
    where login_image_id = #{loginImageId,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>