<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.blog.mapper.BlogSysDictionariesMapper">
  <resultMap id="BaseResultMap" type="com.dragon.blog.model.BlogSysDictionaries">
    <result column="dictionaries_id" jdbcType="VARCHAR" property="dictionariesId" />
    <result column="name_ch" jdbcType="VARCHAR" property="nameCh" />
    <result column="name_en" jdbcType="VARCHAR" property="nameEn" />
    <result column="encoding" jdbcType="VARCHAR" property="encoding" />
    <result column="order_by" jdbcType="INTEGER" property="orderBy" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="tas_name" jdbcType="VARCHAR" property="tasName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dictionaries_id, name_ch, name_en, encoding, order_by, parent_id, tas_name
  </sql>
  <select id="selectByExample" parameterType="com.dragon.blog.model.BlogSysDictionariesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_sys_dictionaries
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.dragon.blog.model.BlogSysDictionariesExample">
    delete from blog_sys_dictionaries
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dragon.blog.model.BlogSysDictionaries">
    insert into blog_sys_dictionaries (dictionaries_id, name_ch, name_en, 
      encoding, order_by, parent_id, 
      tas_name)
    values (#{dictionariesId,jdbcType=VARCHAR}, #{nameCh,jdbcType=VARCHAR}, #{nameEn,jdbcType=VARCHAR}, 
      #{encoding,jdbcType=VARCHAR}, #{orderBy,jdbcType=INTEGER}, #{parentId,jdbcType=VARCHAR}, 
      #{tasName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dragon.blog.model.BlogSysDictionaries">
    insert into blog_sys_dictionaries
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dictionariesId != null">
        dictionaries_id,
      </if>
      <if test="nameCh != null">
        name_ch,
      </if>
      <if test="nameEn != null">
        name_en,
      </if>
      <if test="encoding != null">
        encoding,
      </if>
      <if test="orderBy != null">
        order_by,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="tasName != null">
        tas_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictionariesId != null">
        #{dictionariesId,jdbcType=VARCHAR},
      </if>
      <if test="nameCh != null">
        #{nameCh,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="encoding != null">
        #{encoding,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null">
        #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="tasName != null">
        #{tasName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dragon.blog.model.BlogSysDictionariesExample" resultType="java.lang.Long">
    select count(*) from blog_sys_dictionaries
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blog_sys_dictionaries
    <set>
      <if test="record.dictionariesId != null">
        dictionaries_id = #{record.dictionariesId,jdbcType=VARCHAR},
      </if>
      <if test="record.nameCh != null">
        name_ch = #{record.nameCh,jdbcType=VARCHAR},
      </if>
      <if test="record.nameEn != null">
        name_en = #{record.nameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.encoding != null">
        encoding = #{record.encoding,jdbcType=VARCHAR},
      </if>
      <if test="record.orderBy != null">
        order_by = #{record.orderBy,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.tasName != null">
        tas_name = #{record.tasName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blog_sys_dictionaries
    set dictionaries_id = #{record.dictionariesId,jdbcType=VARCHAR},
      name_ch = #{record.nameCh,jdbcType=VARCHAR},
      name_en = #{record.nameEn,jdbcType=VARCHAR},
      encoding = #{record.encoding,jdbcType=VARCHAR},
      order_by = #{record.orderBy,jdbcType=INTEGER},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      tas_name = #{record.tasName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>