<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.blog.mapper.BlogSysCreateCodeMapper">
  <resultMap id="BaseResultMap" type="com.dragon.blog.model.BlogSysCreateCode">
    <id column="create_code_id" jdbcType="VARCHAR" property="createCodeId" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="object_name" jdbcType="VARCHAR" property="objectName" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="field_list" jdbcType="VARCHAR" property="fieldList" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    create_code_id, package_name, object_name, table_name, field_list, create_time, type, 
    title
  </sql>
  <select id="selectByExample" parameterType="com.dragon.blog.model.BlogSysCreateCodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog_sys_create_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_sys_create_code
    where create_code_id = #{createCodeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from blog_sys_create_code
    where create_code_id = #{createCodeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dragon.blog.model.BlogSysCreateCodeExample">
    delete from blog_sys_create_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dragon.blog.model.BlogSysCreateCode">
    insert into blog_sys_create_code (create_code_id, package_name, object_name, 
      table_name, field_list, create_time, 
      type, title)
    values (#{createCodeId,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, 
      #{tableName,jdbcType=VARCHAR}, #{fieldList,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dragon.blog.model.BlogSysCreateCode">
    insert into blog_sys_create_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createCodeId != null">
        create_code_id,
      </if>
      <if test="packageName != null">
        package_name,
      </if>
      <if test="objectName != null">
        object_name,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="fieldList != null">
        field_list,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="title != null">
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createCodeId != null">
        #{createCodeId,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null">
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="fieldList != null">
        #{fieldList,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dragon.blog.model.BlogSysCreateCodeExample" resultType="java.lang.Long">
    select count(*) from blog_sys_create_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blog_sys_create_code
    <set>
      <if test="record.createCodeId != null">
        create_code_id = #{record.createCodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.packageName != null">
        package_name = #{record.packageName,jdbcType=VARCHAR},
      </if>
      <if test="record.objectName != null">
        object_name = #{record.objectName,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null">
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldList != null">
        field_list = #{record.fieldList,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blog_sys_create_code
    set create_code_id = #{record.createCodeId,jdbcType=VARCHAR},
      package_name = #{record.packageName,jdbcType=VARCHAR},
      object_name = #{record.objectName,jdbcType=VARCHAR},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      field_list = #{record.fieldList,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      type = #{record.type,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dragon.blog.model.BlogSysCreateCode">
    update blog_sys_create_code
    <set>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        object_name = #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="fieldList != null">
        field_list = #{fieldList,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where create_code_id = #{createCodeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dragon.blog.model.BlogSysCreateCode">
    update blog_sys_create_code
    set package_name = #{packageName,jdbcType=VARCHAR},
      object_name = #{objectName,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      field_list = #{fieldList,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR}
    where create_code_id = #{createCodeId,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>