<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="front/common/head :: commonHead('源码库-DragonWen个人博客')"></head>
<body>
<!--top begin-->
<div th:replace="front/common/common :: head"></div>

<div th:replace="front/common/common :: search"></div>
<!--top end-->
<article>
    <!--lbox begin-->
    <div class="lbox">
        <div class="whitebg lanmu"> <img src="Front-End/images/lm04.jpg">
            <h1>源码仓库</h1>
            <p>个人博客用来做什么？我的个人博客网站它不仅仅是我个人兴趣和爱好，还是我创业的起点。我爱网页设计，我爱写前端代码。它充实了我的生活，实现了我的目标和梦想。</p>
        </div>
        <!--源码 start-->
        <div class="whitebg bloglist">
            <h2 class="htitle">
                <i class="el-picasa"></i>
                最新源码
                <small>New Source Code</small>
            </h2>
            <ul>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">基于layuiAdmin+springboot敏捷开发框架源码JAVA后台管理系统</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">原创源码</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/sourcecode/1.png" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        基于layuiAdmin+springboot敏捷开发框架源码JAVA后台管理系统。内含有说明书、数据库建表语句，支持oracle和mysql数据库。
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看更多</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">jsp ssh2 mysql实现的Java web企业CRM客户关系管理系统源码</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">原创源码</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/sourcecode/2.jpg" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        今天给大家演示的是一款由jsp+ssh+mysql实现的CRM客户关系管理系统，其中struts版本是struts2，系统实现了CRM客户关系系统的基本功能，主要有信息管理（包含新闻管理、公告管理、站内信管理）、客户管理（包含客户管理、联系人管理、跟进管理）、合同管理、订单管理、财务管理（包含收款管理、流水管理、发票管理）、产品管理、产品类别管理、人事管理（包含部门管理、岗位管理、职务管理、员工管理）、数据回收站（所有数据删除后可在回收站回恢复或者彻底删除）、系统管理（包含系统参数管理、系统角色权限管理、系统锁屏、系统主题颜色风格切换），项目是在eclipse下开发的，包含完整源码和数据库文件及视频指导运行教程，视频教程可提前观看，地址是：https://pan.baidu.com/s/158BgMjSLwLV-gk-pWEBsug 。
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看更多</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">Bootstrap4响应式后台管理系统模板主题前端框架商业源码StartUI</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">原创源码</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/sourcecode/3.png" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        Bootstrap4响应式后台管理系统模板主题前端框架商业源码StartUI
                        演示地址：http://themesanytime.com/startui/demo/

                        StartUI - 使用Twitter Bootstrap 4，JQuery和CSS（更少）构建的全功能，高级Web应用程序管理仪表板。它配备了大量随时可用的组件，非常适合构建您的Web应用程序，CMS，CRM，管理面板，电子商务仪表板或任何其他类型的应用程序后端。StartUI编码对您的手机和平板电脑的响应速度非常快。完全模块化的许多独特的功能，它将帮助你建立你的下一个真棒产品。
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看更多</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">jsp ssh2 mysql实现的Java web企业CRM客户关系管理系统源码</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">原创源码</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/sourcecode/2.jpg" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        今天给大家演示的是一款由jsp+ssh+mysql实现的CRM客户关系管理系统，其中struts版本是struts2，系统实现了CRM客户关系系统的基本功能，主要有信息管理（包含新闻管理、公告管理、站内信管理）、客户管理（包含客户管理、联系人管理、跟进管理）、合同管理、订单管理、财务管理（包含收款管理、流水管理、发票管理）、产品管理、产品类别管理、人事管理（包含部门管理、岗位管理、职务管理、员工管理）、数据回收站（所有数据删除后可在回收站回恢复或者彻底删除）、系统管理（包含系统参数管理、系统角色权限管理、系统锁屏、系统主题颜色风格切换），项目是在eclipse下开发的，包含完整源码和数据库文件及视频指导运行教程，视频教程可提前观看，地址是：https://pan.baidu.com/s/158BgMjSLwLV-gk-pWEBsug  。
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看更多</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">基于layuiAdmin+springboot敏捷开发框架源码JAVA后台管理系统</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">原创源码</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/sourcecode/1.png" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        基于layuiAdmin+springboot敏捷开发框架源码JAVA后台管理系统。内含有说明书、数据库建表语句，支持oracle和mysql数据库。
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看更多</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">jsp ssh2 mysql实现的Java web企业CRM客户关系管理系统源码</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">原创源码</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/sourcecode/2.jpg" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        今天给大家演示的是一款由jsp+ssh+mysql实现的CRM客户关系管理系统，其中struts版本是struts2，系统实现了CRM客户关系系统的基本功能，主要有信息管理（包含新闻管理、公告管理、站内信管理）、客户管理（包含客户管理、联系人管理、跟进管理）、合同管理、订单管理、财务管理（包含收款管理、流水管理、发票管理）、产品管理、产品类别管理、人事管理（包含部门管理、岗位管理、职务管理、员工管理）、数据回收站（所有数据删除后可在回收站回恢复或者彻底删除）、系统管理（包含系统参数管理、系统角色权限管理、系统锁屏、系统主题颜色风格切换），项目是在eclipse下开发的，包含完整源码和数据库文件及视频指导运行教程，视频教程可提前观看，地址是：https://pan.baidu.com/s/158BgMjSLwLV-gk-pWEBsug  。
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看更多</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">基于layuiAdmin+springboot敏捷开发框架源码JAVA后台管理系统</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">原创源码</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/sourcecode/1.png" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        基于layuiAdmin+springboot敏捷开发框架源码JAVA后台管理系统。内含有说明书、数据库建表语句，支持oracle和mysql数据库。
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看更多</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">jsp ssh2 mysql实现的Java web企业CRM客户关系管理系统源码</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">原创源码</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/sourcecode/2.jpg" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        今天给大家演示的是一款由jsp+ssh+mysql实现的CRM客户关系管理系统，其中struts版本是struts2，系统实现了CRM客户关系系统的基本功能，主要有信息管理（包含新闻管理、公告管理、站内信管理）、客户管理（包含客户管理、联系人管理、跟进管理）、合同管理、订单管理、财务管理（包含收款管理、流水管理、发票管理）、产品管理、产品类别管理、人事管理（包含部门管理、岗位管理、职务管理、员工管理）、数据回收站（所有数据删除后可在回收站回恢复或者彻底删除）、系统管理（包含系统参数管理、系统角色权限管理、系统锁屏、系统主题颜色风格切换），项目是在eclipse下开发的，包含完整源码和数据库文件及视频指导运行教程，视频教程可提前观看，地址是：https://pan.baidu.com/s/158BgMjSLwLV-gk-pWEBsug  。
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看更多</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">基于layuiAdmin+springboot敏捷开发框架源码JAVA后台管理系统</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">原创源码</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/sourcecode/1.png" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        基于layuiAdmin+springboot敏捷开发框架源码JAVA后台管理系统。内含有说明书、数据库建表语句，支持oracle和mysql数据库。
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看更多</a>
                </li>
                <li>
                    <h3 class="blogtitle">
                        <a href="/my_blog/article" target="_blank">jsp ssh2 mysql实现的Java web企业CRM客户关系管理系统源码</a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i>
                            <a href="/my_blog/article">原创源码</a>
                        </i>
                        <a href="/my_blog/article" title="">
                            <img src="Front-End/images/sourcecode/2.jpg" alt="">
                        </a>
                    </span>
                    <p class="blogtext">
                        今天给大家演示的是一款由jsp+ssh+mysql实现的CRM客户关系管理系统，其中struts版本是struts2，系统实现了CRM客户关系系统的基本功能，主要有信息管理（包含新闻管理、公告管理、站内信管理）、客户管理（包含客户管理、联系人管理、跟进管理）、合同管理、订单管理、财务管理（包含收款管理、流水管理、发票管理）、产品管理、产品类别管理、人事管理（包含部门管理、岗位管理、职务管理、员工管理）、数据回收站（所有数据删除后可在回收站回恢复或者彻底删除）、系统管理（包含系统参数管理、系统角色权限管理、系统锁屏、系统主题颜色风格切换），项目是在eclipse下开发的，包含完整源码和数据库文件及视频指导运行教程，视频教程可提前观看，地址是：https://pan.baidu.com/s/158BgMjSLwLV-gk-pWEBsug  。
                    </p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span>DragonWen</span>
                        <span><i class="el-time"></i> 2018-10-28</span>
                        <span><i class="el-comment"></i> 0</span>
                        <span><i class="el-eye-open"></i> 192</span>
                    </p>
                    <a href="/my_blog/article" class="viewmore">查看更多</a>
                </li>
                <div th:replace="front/common/navigation :: navigation-index(${blogs})"></div>
            </ul>
        </div>
        <!--源码 end-->
    </div>

        <!--bloglist end-->
    </div>
    <div class="rbox">
        <!--点击排行 begin-->
        <div th:replace="front/common/common :: paihang"></div>
        <!--点击排行 end-->
        <!--站长推荐 begin-->
        <div th:replace="front/common/common :: tuijian"></div>
        <!--站长推荐 end-->
        <!--广告节点3 begin-->
        <div th:replace="front/common/common :: ad3"></div>
        <!--广告节点3 end-->
        <!--标签云 begin-->
        <div th:replace="front/common/common :: label"></div>
        <!--标签云 end-->
        <!--猜你喜欢 begin-->
        <div th:replace="front/common/common :: love"></div>
        <!--猜你喜欢 end-->
        <!--广告节点4 begin-->
        <div th:replace="front/common/common :: ad4"></div>
        <!--广告节点4 end-->
        <!--站点统计 begin-->
        <div th:replace="front/common/common :: tongji"></div>
        <!--站点统计 end-->
    </div>
</article>

<!--footer begin-->
<div th:replace="front/common/common :: footer"></div>
<!--footer end-->

<!--右侧弹出框 start-->
<div class="toolbar-open"></div>
<div th:replace="front/common/common :: toolbar"></div>
<!--右侧弹出框 end-->

</body>
</html>
