<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('文件管理')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
	<style type="text/css">
		a {
			color: black;
		}
		a:hover {
			text-decoration: none;
		}
		.box .nav-stacked>li {
			border-bottom: 1px solid #f4f4f4;
			margin: 0;
		}
		.nav-stacked>li>a {
			border-radius: 0;
			border-top: 0;
			border-left: 3px solid transparent;
			color: #444;
		}
		li.li-active>a {
			border-left-color: #3c8dbc !important;
		}
		.file-item {
			margin-top: 10px;
		}
		.file-box {
			width: 20%;
		}
		.corner {
			border-width: 1em;
			color: #ed5565;
		}
		.file-active {
			border: 1px solid #3c8dbc;
		}
	</style>
</head>
<body class="gray-bg">
	<div class="ui-layout-west">
		<div class="box box-main">
			<div class="box-header">
				<div class="box-title">
					<i class="fa icon-grid"></i> 文件分类
				</div>
				<div class="box-tools pull-right">
				    <a type="button" class="btn btn-box-tool" href="#" onclick="dept()" title="文件分类"><i class="fa fa-edit"></i></a>
					<button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新分类"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="ui-layout-content">
				<ul class="nav nav-pills nav-stacked ul-onclick">
					<li class="li-active">
						<a href="##"><i class="fa fa-folder-o"></i>&nbsp;&nbsp;全部文件</a>
					</li>
					<li>
						<a href="##"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;文档</a>
					</li>
					<li>
						<a href="##"><i class="fa fa-file-image-o"></i>&nbsp;&nbsp;图片</a>
					</li>
					<li>
						<a href="##"><i class="fa fa-file-audio-o"></i>&nbsp;&nbsp;音乐</a>
					</li>
					<li>
						<a href="##"><i class="fa fa-file-video-o"></i>&nbsp;&nbsp;视频</a>
					</li>
					<li>
						<a href="##"><i class="fa fa-file-zip-o"></i>&nbsp;&nbsp;压缩包</a>
					</li>
					<li>
						<a href="##"><i class="fa fa-archive"></i>&nbsp;&nbsp;其他</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="ui-layout-center">
		<div class="container-div">
			<div class="row">
				<div class="col-sm-12 search-collapse">
					<form id="user-form">
						<input type="hidden" id="deptId" name="deptId">
		                <input type="hidden" id="parentId" name="parentId">
						<div class="select-list">
							<ul>
								<li>
									文件名称：<input type="text" name="fileName"/>
								</li>
								<li>
									文件类型：<select name="fileType" th:with="type=${@dict.getType('sys_normal_disable')}">
										<option value="">所有</option>
										<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
									</select>
								</li>
								<li class="select-time">
									<label>上传时间： </label>
									<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
									<span>-</span>
									<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
								</li>
								<li>
									<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
								</li>
							</ul>
						</div>
					</form>
				</div>

		        <div class="col-sm-12 select-table table-striped" style="min-height: 87%;">
					<div class="btn-group-sm" id="toolbar" role="group">
						<a class="btn btn-info" onclick="" shiro:hasPermission="cms:file:upload">
							<i class="fa fa-upload"></i> 上传
						</a>
					</div>
					<div class="file-item">
						<div class="row">
							<div class="col-sm-12">
								<div class="file-box">
									<div class="file">
										<span class="corner" onclick="deleteFile(this, '123')"><i class="fa fa-trash"></i></span>
										<div class="icon" onclick="viewFile(this, '123')">
											<i class="fa fa-file"></i>
										</div>
										<div class="file-name" onclick="viewFile(this, '123')">
											Document_2014.doc
											<br/>
											<small>添加时间：2014-10-13</small>
										</div>
									</div>
								</div>
								<div class="file-box">
									<div class="file">
										<span class="corner" onclick="deleteFile(this, '123')"><i class="fa fa-trash"></i></span>
										<div class="image" onclick="viewFile(this, '123')">
											<img alt="image" class="img-responsive" src="img/p1.jpg">
										</div>
										<div class="file-name" onclick="viewFile(this, '123')">
											Italy street.jpg
											<br/>
											<small>添加时间：2014-10-13</small>
										</div>
									</div>
								</div>
								<div class="file-box">
									<div class="file">
										<span class="corner" onclick="deleteFile(this, '123')"><i class="fa fa-trash"></i></span>
										<div class="image" onclick="viewFile(this, '123')">
											<img alt="image" class="img-responsive" src="img/p2.jpg">
										</div>
										<div class="file-name" onclick="viewFile(this, '123')">
											My feel.png
											<br/>
											<small>添加时间：2014-10-13</small>
										</div>
									</div>
								</div>
								<div class="file-box">
									<div class="file">
										<span class="corner" onclick="deleteFile(this, '123')"><i class="fa fa-trash"></i></span>
										<div class="icon" onclick="viewFile(this, '123')">
											<i class="fa fa-music"></i>
										</div>
										<div class="file-name" onclick="viewFile(this, '123')">
											Michal Jackson.mp3
											<br/>
											<small>添加时间：2014-10-13</small>
										</div>
									</div>
								</div>
								<div class="file-box">
									<div class="file">
										<span class="corner" onclick="deleteFile(this, '123')"><i class="fa fa-trash"></i></span>
										<div class="image" onclick="viewFile(this, '123')">
											<img alt="image" class="img-responsive" src="img/p3.jpg">
										</div>
										<div class="file-name" onclick="viewFile(this, '123')">
											Document_2014.doc
											<br/>
											<small>添加时间：2014-10-13</small>
										</div>
									</div>
								</div>
								<div class="file-box">
									<div class="file">
										<span class="corner" onclick="deleteFile(this, '123')"><i class="fa fa-trash"></i></span>
										<div class="icon" onclick="viewFile(this, '123')">
											<i class="img-responsive fa fa-film"></i>
										</div>
										<div class="file-name" onclick="viewFile(this, '123')">
											Monica's birthday.mpg4
											<br/>
											<small>添加时间：2014-10-13</small>
										</div>
									</div>
								</div>
								<div class="file-box">
									<div class="file">
										<span class="corner" onclick="deleteFile(this, '123')"><i class="fa fa-trash"></i></span>
										<div class="icon" onclick="viewFile(this, '123')">
											<i class="fa fa-bar-chart-o"></i>
										</div>
										<div class="file-name" onclick="viewFile(this, '123')">
											Annual report 2014.xls
											<br/>
											<small>添加时间：2014-10-13</small>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('system:user:edit')}]];
		var removeFlag = [[${@permission.hasPermi('system:user:remove')}]];
		var resetPwdFlag = [[${@permission.hasPermi('system:user:resetPwd')}]];
		var prefix = ctx + "cms/file";
	</script>
	<script th:src="@{/dragon/js/cms/file.js?v=20210918}"></script>
</body>
</html>