<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('上传文件')" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <div class="file-loading">
            <input id="multipleFile" name="files" type="file" multiple>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script th:inline="javascript">
        var prefix = ctx + "cms/file"
        function submitHandler() {
            alert("保存文件！")
        }

        $(document).ready(function () {
            // 多图上传
            $("#multipleFile").fileinput({
                uploadUrl: ctx + 'common/uploads',
                uploadAsync: false
            }).on('filebatchuploadsuccess', function (event, data, previewId, index) {
                var rsp = data.response;
                log.info("return urls：" + rsp.urls)
                log.info("reutrn fileNames：" + rsp.fileNames)
            }).on('fileremoved', function (event, id, index) {
                $("input[name='" + event.currentTarget.id + "']").val('')
            })

            $(".fileinput-remove").remove();
        });

    </script>
</body>
</html>